<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>about</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/nice-select.css">
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/gijgo.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/slicknav.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link rel="stylesheet" href="/static/css/responsive.css"> -->
</head>

<body>
    <!-- header-start -->
    <header style="background-color: rgb(43, 132, 155);">
        <div class="header-area" style="background-color: rgb(43, 132, 155);">
            <div id="sticky-header" class="main-header-area" style="background-color: rgb(43, 132, 155);">
                <div class="container-fluid p-0" style="background-color: rgb(43, 132, 155);">
                    <div class="row align-items-center no-gutters" style="background-color: rgb(43, 132, 155);">
                        <div class="col-xl-5 col-lg-6" style="background-color: rgb(43, 132, 155);">
                            <div class="main-menu  d-none d-lg-block" style="background-color: rgb(43, 132, 155);">
                                <nav style="background-color: rgb(43, 132, 155);">
                                    <ul id="navigation" style="background-color: rgb(43, 132, 155);">
                                        <li><a href="{{url_for('index')}}">home</a></li>
                                        <li><a class="active" style="color: yellow;" href="{{url_for('about')}}">About</a></li>
                                        <li><a href="{{url_for('registration')}}">Registration</a></li>
                                        <li><a href="{{url_for('login')}}">Login</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>Applications of the project</span>
                            <h3>Linux Process Scheduling</h3>
                        </div>
                        <p align="justify">The project "Applying Machine Learning Techniques to Improve Linux Process Scheduling" aims to enhance the efficiency of process management in Linux operating systems by leveraging machine learning algorithms. The primary application of the project could be as follows:

                            Improved CPU Resource Allocation: By applying machine learning models, such as decision trees, random forests, or deep learning models, the system can learn patterns from historical process scheduling data. This can help predict which processes need more CPU time and which ones can be executed with lower priority, leading to more efficient resource allocation.
                            
                            Enhanced Real-Time Process Scheduling: Machine learning can improve the responsiveness of real-time applications by predicting process behavior, such as the time they will require for completion, and adjusting priorities in real-time. This would enhance the performance of applications that require low-latency and high reliability, such as multimedia applications or systems requiring constant user interaction.
                            
                            Predictive Process Management: Machine learning models can be trained to recognize when certain processes are likely to be blocked, leading to more effective use of idle resources. By predicting potential delays or resource bottlenecks, processes can be scheduled in a way that prevents system slowdown and enhances overall throughput.
                            Energy 
                        </p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                    <br><br><br><br><br><br><br>
                    <div class="about_thumb d-flex">
                        <div class="img_1">
                            <img src="/static/img/banner/b4.webp" alt="">
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- JS here -->
    <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/ajax-form.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/scrollIt.js"></script>
    <script src="/static/js/jquery.scrollUp.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/nice-select.min.js"></script>
    <script src="/static/js/jquery.slicknav.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="/static/js/contact.js"></script>
    <script src="/static/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/mail-script.js"></script>

    <script src="/static/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>


</body>

</html>